#main_logo img, #uj_logo img {
    height: 300%;
}

#wrapper, #main-nav-wrapper {
    width: 1000px;
    margin: auto;
}

#wrapper {
    margin-top: 80px;
}

#loading-image {
    width: 50px;
    min-width: 50px;
    display: inline-block;
}

#loading-image > img {
    margin: auto;
    height: 100%;
    width: 100%;
}
