<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="[% settings.charset %]">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<title>Charon</title>

		<link rel="stylesheet" href="[% request.uri_base %]/css/bootstrap.css">
		<link rel="stylesheet" href="[% request.uri_base %]/css/style.css">
		<link rel="stylesheet" href="[% request.uri_base %]/libs/jqueryui/jquery-ui.min.css">

		<script src="[% request.uri_base %]/javascripts/jquery.js"></script>
		<script src="[% request.uri_base %]/libs/jqueryui/jquery-ui.min.js"></script>
		<script src="[% request.uri_base %]/javascripts/bootstrap.min.js"></script>
	</head>

	<body>
		<a href="/">
			<div id="header" class="page-header">
				<h1>Charon</h1>
				<h2>System rejestracji na studia podyplomowe</h2>
			</div>
		</a>
		
		<div class="container bs-docs-container"> 
			<div class="row">
				<table class="table">
					<tbody>
						<td width=80%>
							[% INCLUDE alertbar.tt %]
							[% content %]
						</td>
						<td width=20%>
							[% INCLUDE sidebar.tt %]
						</td>
					</tbody>
				</table>
			</div>
		</div> <!-- /container -->

		<div id="watermark">
			<a href="http://www.uj.edu.pl/">
				<img src="/images/uj.png" alt="..." />
			</a>
		</div>
	</body>
</html>
