<!DOCTYPE html>
<section id="add_directors">
    <div>
        <input list="directors" type="text" class="form-control form-control-sm" 
            placeholder="Start typing..." /><button id="mybtn" type="button">+</button>
        <datalist id="directors">
            [% FOREACH dir IN directors %]
                <option value="[% dir.name %]">
            [% END %]
        </datalist>
    </div>

</section>

<script>

var example = function(form) {
    var remove = function() {
        this.parentNode.parentNode.removeChild(this.parentNode);
    };

    var add = function() {
        this.innerHTML = '-';
        this.parentNode.getElementsByTagName('input')[0].disabled = true;
        var input = document.createElement('input');
        input.setAttribute('type', 'text');
        input.setAttribute('placeholder', 'Start typing...');
        input.setAttribute('class', 'form-control form-control-sm');
        input.setAttribute('list', 'directors');
        var button = document.createElement('button');
        button.innerHTML = '+';
        button.setAttribute('type', 'button');
        button.onclick = add;
        var div = document.createElement('div');
        div.appendChild(input);
        div.appendChild(button);
        this.onclick = remove;
        this.parentNode.parentNode.insertBefore(div, this.parentNode.nextSibling);
        return false; // to disable default submit action (refresh page prevention)
    };

    this.init = function() {	
        form.getElementsByTagName('div')[0].getElementsByTagName('button')[0].onclick = add;
    }

    this.getValues = function() {
        var divs = form.getElementsByTagName('div');
        for (i = 1; i < divs.length-2; ++i) {
            console.log('value ' + i + ': ' + divs[i].getElementsByTagName('input')[0].value);
        }
    }

    this.getForm = function() {
        return form;
    }

    this.init();
};

var t1 = new example(document.getElementsByTagName('form')[0]);

t1.getForm().onsubmit = function() {
    t1.getValues();
    return false;
}

</script>
