<!DOCTYPE html>
<section id="add_directors">
    <form>
    <div>
        <input type="text" placeholder="Type something..." /><button id="mybtn" type="button">+</button>
    </div>
    <input type="submit" value="Get values" />
    </form>

</section>

<script>

var example = function(form) {
    var remove = function() {
        form.removeChild(this.parentNode);
    };

    var add = function() {
        this.innerHTML = '-';
        var input = document.createElement('input');
        input.setAttribute('type', 'text');
        input.setAttribute('placeholder', 'Type something...')
        var button = document.createElement('button');
        button.innerHTML = '+';
        button.onclick = add;
        var div = document.createElement('div');
        div.appendChild(input);
        div.appendChild(button);
        form.insertBefore(div, this.parentNode.nextSibling);
        this.onclick = remove;
        return false; // to disable default submit action (refresh page prevention)
    };

    this.init = function() {	
        form.getElementsByTagName('div')[0].getElementsByTagName('button')[0].onclick = add;
    }

    this.getValues = function() {
        var divs = form.getElementsByTagName('div');
        for (i = 0; i < divs.length-1; ++i) {
            console.log('value ' + i + ': ' + divs[i].getElementsByTagName('input')[0].value);
        }
    }

    this.getForm = function() {
        return form;
    }

    this.init();
};

var t1 = new example(document.getElementsByTagName('form')[1]);

t1.getForm().onsubmit = function() {
    t1.getValues();
    return false;
}

</script>
