<!DOCTYPE html>
<section id="change password">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Zmiana hasla</h3>
        </div>
        <div class="panel-body">
            <form action="[% change_password_url %]" method="POST" role="form">
                <div class="form-group">
                    <input type="password" name="old_password" id="old_password"
                        class="form-control form-control-sm" required="required" 
                        title="" placeholder="Stare hasło" style="display: block;margin-bottom: 2px">
                    <input type="password" name="password" id="password" 
                        class="form-control form-control-sm" required="required"
                        title="" placeholder="Nowe hasło" style="display: block;margin-bottom: 2px">
                    <input type="password" name="password_c" id="password_c"
                        class="form-control form-control-sm" required="required"
                        title="" placeholder="Powtórz hasło" style="display: block;margin-bottom: 2px">
                </div>

                <input type="hidden" name="return_url" value="[% request.path %]">
                <button type="submit" class="btn btn-primary" style="display: block; margin-bottom: 1px">Zmień hasło</button>
							</form>
        </div>
    </div>
</section>
