<!DOCTYPE html>
<section id="my_fields">
       <div class="panel panel-primary">
               <div class="panel-heading">
                       <h3 class="panel-title">Moje kierunki</h3>
               </div>
               [% IF fields %]
               <div class="panel-body cart">

                    <table class="fields">
                        <tr>
                            <th width=25%>Nazwa</th>
                            <th width=40%>Status</th>
                            <th width=15%>Zarządzaj</th>
                        </tr>

                   [% FOREACH item in fields %]
                        <tr>
                            <td>[% item.name %]</td>
                            <td>[% item.status %]</td>
                            <!--TODO dodać link-->
                            <td><a href="http://ddg.gg">
                                <img src="/images/button-edit.png" alt="Edytuj" class="img-control">
                            </a></td>
                        </tr>
                   [% END %]
                    </table>

               </div>
               [% ELSE %]
               <div class="panel-body">
                    Obecnie nie masz podpiętego żadnego kierunku
               </div>
               [% END %]
       </div>
</section>
