<div class="container bs-docs-container"> 
	<div class="row"> 
		<div class="col-md-9" role="main">
			[% INCLUDE alertbar.tt %]
			<section id="rejestracje">
				<div class="panel panel-default">
					<div class="panel-heading">
						dupa
					</div>
					<div class="panel-body">
						dupa
					</div>
				</div>
			</section>

		</div>
		[% INCLUDE sidebar.tt %]
	</div>
</div> <!-- /container -->
