<!DOCTYPE html>
<section id="timeline">
    <ul id='line'>
        [% FOREACH entry IN timeline %]
        <li class='work'>
            <input class='radio' id='time-entry'
                   name='works' type='radio'
                   [% IF entry.status == 'active' %]checked[% END %] >
            <div class="relative">
                <label for='time-entry'>[% entry.text %]</label>
                <span class='date'>[% entry.date %]</span>
                <span class='circle'></span>
            </div>
            <div class='content'>
                <p>
                    Content content
                </p>
            </div>
        </li>
        [% END %]
    </ul>
</section>
