
html { 
	height: 100%; 
	background-color: #333333; 
}
body { 
	min-height: 100%; 
	margin: 0; 
	padding: 0; 
	background-repeat: no-repeat; 
	background-position: top left; 
	font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana"; 
	font-size: 13px; 
	color: black; 
	background-color: #dadada; 
	box-shadow: inset 0 0 300px #dadada; 
	padding-top: 50px; 
}
h1 { font-size: 28px; }
a { color: #aaaaaa; }
a:hover { 
	background-color: #0033cc; 
	color: white; 
	text-decoration: none; 
}
#page { 
	background-color: #dddddd; 
	width: 750px; 
	margin: auto; 
	margin-left: auto; 
	padding-left: 0px; 
	margin-right: auto; 
}
#sidebar { 
	float: right; 
	width: 175px; 
}
#header, #about, #getting-started { 
	padding-left: 75px; 
	padding-right: 30px; 
}
#header { 
	background-image: url("/images/charon.png"); 
	background-repeat: no-repeat; 
	background-position: top left; 
	height: 100px; 
	margin: auto; 
	width: 500px; 
}
#header h1, #header h2 { 
	margin: 0; 
	color: black; 
}
#header h2 { 
	font-weight: normal; 
	font-size: 16px; 
}
#about h3 { 
	margin: 0; 
	margin-bottom: 10px; 
	font-size: 14px; 
}
#about-content { 
	background-color: #ffffdd; 
	border: 1px solid #ffcc00; 
	margin-left: -11px; 
}
#about-content table { 
	margin-top: 10px; 
	margin-bottom: 10px; 
	font-size: 11px; 
	border-collapse: collapse; 
}
#about-content td { 
	padding: 10px; 
	padding-top: 3px; 
	padding-bottom: 3px; 
}
#about-content.failure { 
	background-color: #ffcccc; 
	border: 1px solid #ff0000; 
}
#about-content.failure p { 
	margin: 0; 
	padding: 10px; 
}
#getting-started { 
	border-top: 1px solid #cccccc; 
	margin-top: 25px; 
	padding-top: 15px; 
}
#getting-started h1 { 
	margin: 0; 
	font-size: 20px; 
}
#getting-started h2 { 
	margin: 0; 
	font-size: 14px; 
	font-weight: normal; 
	margin-bottom: 25px; 
}
#getting-started ol { 
	margin-left: 0; 
	padding-left: 0; 
}
#getting-started li { 
	font-size: 18px; 
	margin-bottom: 25px; 
}
#getting-started li h2 { 
	margin: 0; 
	font-weight: normal; 
	font-size: 18px; 
}
#getting-started li p { font-size: 13px; }
#search { 
	margin: 0; 
	padding-top: 10px; 
	padding-bottom: 10px; 
	font-size: 11px; 
}
#search input { 
	font-size: 11px; 
	margin: 2px; 
}
#search-text { width: 170px; }
#sidebar ul { 
	margin-left: 0; 
	padding-left: 0; 
}
#sidebar ul h3 { 
	margin-top: 25px; 
	font-size: 16px; 
	padding-bottom: 10px; 
	border-bottom: 1px solid #cccccc; 
}
#sidebar li { list-style-type: none; }
#sidebar ul.links li { margin-bottom: 5px; }
h1, h2, h3, h4, h5 { 
	font-family: sans-serif; 
	margin: 1.2em 0 0.6em 0; 
}
p { 
	line-height: 1.5em; 
	margin: 1.6em 0; 
}
code, tt { font-family: 'Andale Mono', Monaco, 'Liberation Mono', 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', monospace; }
#footer { 
	clear: both; 
	text-align: center; 
	font-family: sans-serif; 
	font-size: 10px; 
}
.affix { 
	top: 5px; 
	min-width: 250px; 
}
#watermark img { 
	position: fixed; 
	height: 70px; 
	left: 50px; 
	bottom: 50px; 
	opacity: 0.5; 
	filter: alpha(opacity=50); 
	transition: all 2s ease; 
	-ms-transform: rotate(0deg); 
	-webkit-transform: rotate(0deg); 
	transform: rotate(0deg); 
}
#watermark img:hover { 
	transition: all 0.5s ease; 
	-ms-transform: rotate(45deg); 
	-webkit-transform: rotate(45deg); 
	transform: rotate(45deg); 
}
.nav > li > a { 
	color: black; 
	background-color: #eeeeee; 
}
.nav > li > a:hover { 
	color: black; 
	background-color: #dddddd; 
}
.error { 
	background: #CEE5F5; 
	padding: 0.5em; 
	border: 1px solid #AACBE2; 
}
#registration-form .input-group-addon { 
	min-width: 125px; 
	text-align: right; 
}
.cart table { width: 100%; }
.cart th, .cart td { 
	padding-top: 10px; 
	padding-bottom: 10px; 
	text-align: center; 
}
.center { margin: auto; }
#line { 
	list-style: none; 
	margin: 50px 0 30px 120px; 
	padding-left: 30px; 
	border-left: 8px solid #1874CD; 
}
#line li { 
	margin: 40px 0; 
	position: relative; 
}
#line p { margin: 0 0 15px; }
.date { 
	margin-top: -10px; 
	text-align: right; 
	top: 50%; 
	left: -158px; 
	font-size: 0.95em; 
	line-height: 20px; 
	position: absolute; 
}
.circle { 
	margin-top: -10px; 
	top: 50%; 
	left: -44px; 
	width: 20px; 
	height: 20px; 
	border: 3px dotted #1874CD; 
	border-radius: 50%; 
	display: block; 
	position: absolute; 
}
.content { 
	max-height: 20px; 
	padding: 50px 20px 0; 
	border-color: transparent; 
	border-width: 2px; 
	border-style: solid; 
	border-radius: 0.5em; 
	position: relative; 
}
.content:before, .content:after { 
	content: ""; 
	width: 0; 
	height: 0; 
	border: solid transparent; 
	position: absolute; 
	pointer-events: none; 
	right: 100%; 
}
.content:before { 
	border-right-color: inherit; 
	border-width: 13px; 
	top: 50%; 
	margin-top: -13px; 
}
.content:after { 
	border-right-color: #FFFFFF; 
	border-width: 10px; 
	top: 50%; 
	margin-top: -10px; 
}
.content p { 
	max-height: 0; 
	color: transparent; 
	text-align: justify; 
	word-break: break-word; 
	hyphens: auto; 
	overflow: hidden; 
}
.relative label { 
	font-size: 1.3em; 
	position: absolute; 
	z-index: 100; 
	cursor: pointer; 
	top: 20px; 
	transition: transform 0.2s linear; 
}
.radio, .radio:checked, .rad { display: none; }
.radio + .relative label, .radio:checked + .relative label, .rad + .relative label { 
	cursor: auto; 
	transform: translateX(42px); 
}
.radio + .relative .circle, .radio:checked + .relative .circle, .rad + .relative .circle { background: #FFFFFF; }
.radio ~ .content, .radio:checked ~ .content, .rad ~ .content { 
	max-height: 180px; 
	border-color: #1874CD; 
	margin-right: 20px; 
	transform: translateX(20px); 
	transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear; 
}
.radio ~ .content p, .radio:checked ~ .content p, .rad ~ .content p { 
	max-height: 200px; 
	color: #1874CD; 
	transition: color 0.3s linear 0.3s; 
}
.radio:checked + .relative .circle { background: #FFD700; }
