<nav class="navbar navbar-default" id="main-navbar">
    <div class="container-fluid" id="main-nav-wrapper">
        <!-- left -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#" id="main_logo">
                <img src="/front/static/images/charon-logo.png" alt="Charon Logo">Charon
            </a>
        </div>
        <div id="loading-image" class="nav navbar-nav">
            <img ng-show="navigation.isLoading()" src="/front/static/images/hourglass.svg" />
        </div>
        <ul class="nav navbar-nav">
            <li ng-class="{active: $state.includes('katalog')}">
                <a ui-sref="katalog">Katalog</a>
            </li>
        </ul>

        <!-- right -->
        <div class="navbar-header navbar-right">
            <a class="navbar-brand" href="http://uj.edu.pl" id="uj_logo">
                <img src="/front/static/images/uj-logo.png" alt="Charon Logo">UJ
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li ng-class="{active: $state.includes('login.signin')}">
                <a ui-sref="login.signin">Sign in</a>
            </li>
            <li ng-class="{active: $state.includes('login.signup')}">
                <a ui-sref="login.signup">Sign up</a>
            </li>
        </ul>
    </div>
</nav>
