<nav class="navbar navbar-default" id="main-navbar">
    <div class="container-fluid" id="main-nav-wrapper">
        <!-- left -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#" id="main_logo">
                <img src="/front/static/images/charon-logo.png" alt="Charon Logo">Charon
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a ui-sref="katalog">Katalog</a></li>
        </ul>

        <!-- right -->
        <div class="navbar-header navbar-right">
            <a class="navbar-brand" href="http://uj.edu.pl" id="uj_logo">
                <img src="/front/static/images/uj-logo.png" alt="Charon Logo">UJ
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Konto</a></li>
        </ul>
    </div>
</nav>
